/* .answer {
  padding: 2rem;
  border: 2px solid black;
} */
.option {
  padding: 2rem;
  border: 2px solid black;
}
.color {
  background-color: green;
}
p {
  display: inline;
  padding: 2rem;
}
.hidden {
  opacity: 0;
}
